body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

p,h1,h2,h3,h4,img,a{
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}